#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# .tfplan files
*.tfplan

# .pem files
*.pem

# .hcl files from Terraform v0.14 and newer
*.hcl

# working directory for web app
/globo_web_app/*

# IntelliJ IDEA project files
.idea/
*.iml
out/
*.iws
*.ipr
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/modules.xml
.idea/vcs.xml
.idea/assetWizard.xml
.idea/compiler.xml